/*====================== employees ======================*/
.employees {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0.5rem;
  &-header {
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
      color: $clr-secondary;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .show-entries,
    .search {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    .search input {
      padding: 0.4rem;
      border-radius: 5px;
      border: 1px solid $clr-primary;
      &:focus {
        outline: 1px solid $clr-secondary;
      }
    }
  }
}
