/*====================== new-employee ======================*/
.new-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
  h2 {
    color: $clr-secondary;
  }
  .form {
    display: grid;
    gap: 1rem;
  }
  .address {
    color: $clr-primary;
    border: 1px solid $clr-primary;
    border-radius: 0.5rem;
    padding: 1rem;
    .form-group {
      width: 100%;
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    label,
    .label {
      color: $clr-primary;
    }
    input,
    select {
      border: 1px solid $clr-primary;
      padding: 0.3rem;
      border-radius: 0.5rem;
      &:focus {
        outline: 1px solid $clr-secondary;
      }
    }
  }
  .btn {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .modal-body {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
